.payment {
    background-color: #fff;
    color: #000000;
    overflow-x: hidden;
}

.payment_container > h1 {
    text-align: center;
    padding: 10px;
    font-weight: 400;
    border-bottom: 1px solid lightgray;
    background-color: transparent;
    color: #fff;
  }

.payment_container > h1 a {
    text-decoration: none;
    color: rgb(0, 89, 178);
}

.payment_section {
    display: flex;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid lightgray;
}

.payment_title {
    flex: 0.2;
}

.payment_address, .payment_items, .payment_details {
    flex: 0.8;
}

  
.payment_details > form {
    max-width: 400px;
  }

  .payment_details > h3 {
    padding-bottom: 20px;
  }

  .payment_detailsFinal {
    background: #fff;
  }
  .payment_details > form > button {
    background: rgb(0, 89, 178);
    border-radius: 5px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    font-weight: bolder;
    margin-top: 10px;
    border-color: #fff;
    color: #fff;
  }

  .payment_details > form > button span {
    background-color: transparent;
  }
  @media(max-width: 768px) {
    .payment_section {
      display: flex;
      flex-direction: column;
    }
    .payment_title h2 {
      margin-bottom: 10px;
    }
    .payment_container > h1 {
      font-size: 15px;
    }
    h1, h2, h3, p {
      color: #fff;
    }
  }