.header
{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    background-color: #222;
}

.header_logo
{
    width: 500px;
    object-fit: contain;
    margin: 0 20px;
    color: #fff;
    margin-top: 0;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.header_logo button {
    visibility: hidden;
}
.header_search
{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 30px;
}
.header_searchInput
{
    height: 18px;
    padding: 10px;
    border: none;
    width: 100%;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    padding-left: 20px;
    background-color: transparent;
    border: 1px solid rgb(0, 89, 178);;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.header_searchInput:focus
{
    outline: none;
}

.header_searchIcon
{
    position: relative;
    padding: 5px;
    height: 28px !important;
    color: #fff;
    border: 1px solid rgb(0, 89, 178);
    background: linear-gradient(rgba(124, 127, 255, 0) 0%, rgb(64, 221, 255) 300%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.header_option
{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    color: #fff;
    font-weight: 800;
    padding: 5px 10px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.header_option:hover {
    cursor: pointer;
}
.header_optionLineOne
{
    font-size: 10px;
}
.header__optionLineTwo
{
    font-size: 20px;
    font-weight: 800;
}
.header_optionLineButton {
    position: relative;
    padding: 10px;
    font-size: 17px;
    height: 38px !important;
    color: #222;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    text-transform: uppercase;
    clip-path: polygon(12px 0px, 100% 0px, 100% 72%, calc(100% - 12px) 100%, 0px 100%, 0px 12px);
    background: linear-gradient(90deg, rgb(255, 215, 77) 0%, rgb(64, 221, 255) 30%, rgb(124, 127, 255) 85%) 0% 0% / 200% 100%;
}

.header_navBar {
    visibility: hidden;
    opacity: 0;
}
.header_link {
    text-decoration: none;
}
.header_optionBasket
{
    display: flex;
    align-items: center;
    color: #fff;
}
.header_basketCount
{
    margin-left: 10px;
    margin-right: 10px;
}
.header_nav
{
    display: flex;
    justify-content: space-evenly;
}
.header_select
{
    position: relative;
    height: 40px;
    left: 0px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background: rgb(237, 237, 237);
    padding: 5px ;
    cursor: pointer;
}
.header_location
{
    color: #fff;
    z-index: -1;
    filter: invert(0);
}

.header_option .tooltiptext {
  visibility: hidden;
  bottom: -20px;
  width: 60px;
  background-color: rgb(0, 89, 178);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  font-size: 15px;
  position: absolute;
  z-index: 1;
}

 .header_option .header_link .header_optionLineTwo {
        color: #fff;
    }
.header_optionLineTwo:hover .tooltiptext {
    visibility: visible;
  }
@media (max-width: 768px) {
    .header {
        display: flex;
        flex-direction: column;
    }
    .header_nav {
        visibility: hidden;
    }
    .header_logo {
        align-self: center;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 95%;
    }
    .header_logo .menu {
        visibility: visible;
        color: #fff;
        background-color: transparent;
        text-decoration: none;
        font-size: 15px;
        text-transform: uppercase;
    }
}