.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 24px;
    box-shadow: rgb(124 127 255) 0px 0px 12px;
    border-radius: 24px;
}

.checkoutProduct__image {
    background-color: transparent;
}

small, strong {
    background: transparent;
}

.checkoutProduct__rating {
    background: transparent;
}
.checkoutProduct:nth-child(odd) {
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(124, 127, 255) 180%);
    border: 1px solid rgb(124, 127, 255);
}

.checkoutProduct:nth-child(even) {
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(255, 215, 77) 180%);
    border: 1px solid rgb(255, 215, 77);
    box-shadow: rgb(255 215 77) 0px 0px 12px;
}

.checkoutProduct .checkoutProduct__info {
    padding-left: 50px;
    background: transparent;
}


.checkoutProduct__delete {
    padding: 0;
    align-items: center;
    text-align: center;
}

.checkoutProduct__info > button {
    background: #fff;
    clip-path: polygon(12px 0px, 100% 0px, 100% 72%, calc(100% - 12px) 100%, 0px 100%, 0px 12px);
    margin-top: 10px;
    padding: 10px 10px;
    cursor: pointer;
    text-align: center;
    display: flex;
    text-transform: uppercase;
    outline: none;
    border: none;
}
.checkoutProduct__info > button p {
    font-size: 15px;
    font-weight: 800;
}


.checkoutProduct__info > button > p {
    padding-top: 5px;
}

.checkoutProduct__image {
    object-fit: contain;
    width: 250px;
    height: 250px;
    margin-left: 20px;
  }

.checkoutProduct__rating {
    display: flex;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 10px;
  }

.checkoutProduct__price {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.checkoutProduct__title {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 600;
}


@media(max-width: 768px) {
    .checkoutProduct__image {
        width: 100px;
        height: 100px;
        align-self: center;
      }
      .checkoutProduct__title {
        font-size: 20px;
      }
      .checkoutProduct__info > button {
          padding: 5px 5px;
          margin-bottom: 10px;
          font-size: 13px;
          font-weight: 500;
      }
      .checkoutProduct__info > button > p {
          padding-right: 5px;
          font-weight: 600;
      }
      .checkoutProduct__rating {
          font-size: 17px;
      }
      .checkoutProduct {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-top: 20px;
      }
}