.home 
{
    justify-content: center;
    overflow-x: hidden;
    box-sizing: border-box;
    color: #fff;
    background: #222;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.home > .home_container > .home_row
{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    z-index: 1;
    margin-left: 10px;
    margin-right: 10px;
}
.home_image {
    padding: 10px 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #fff;
} 


@media (max-width:768px) {
    .home > .home_container > .home_row {
        flex-direction: column;
        position: relative;
        width: 75%;   
        /* margin-left: 5px; */
    }
    .home_image {
        width: 75%;
        margin-left: 30px;
        margin-top: 30px;
        align-items: center;
        text-align: center;
        border-radius: 0;
        background: transparent;
    }

    .home h1 {
        font-size: 15px;
    }
}