.register {
    background-color: #222;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    overflow-x: hidden;
    font-family: 'JetBrains Mono', monospace;
}
.register__textBox {
  background-color: transparent;
}
.register__logo {
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
  }

.register__container {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
    margin-top: 5%;
}

.register__container > h1 {
    font-weight: 500;
    margin-bottom: 20px;
  }

.register__container > form > h2 {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
}

.register__container > form > input {
    height: 35px;
    margin-bottom: 10px;
    background-color: #222;
    width: 97%;
    border: 2px solid #fff;
    color: #fff;
    outline: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
  }

  .register__inf {
      text-align: center;
      font-size: 15px;
      font-weight: 700;
  }
.register__container > p {
    margin-top: 15px;
    font-size: 12px;
}

.login__signInButton {
    background: #fff;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    border: 1px solid;
    color: #222;
    margin-top: 10px;
    border-color: rgb(0, 78, 189);
    font-size: 20px;
    font-weight: 500;
    clip-path: polygon(12px 0px, 100% 0px, 100% 72%, calc(100% - 12px) 100%, 0px 100%, 0px 12px);
  }

  .register__registerButton {
    border-radius: 5px;
    width: 100%;
    height: 40px;
    border: 1px solid;
    margin-top: 10px;
    border-color: rgb(0, 89, 178);
    font-size: 20px;
    color: rgb(0, 89, 178);
    clip-path: polygon(12px 0px, 100% 0px, 100% 72%, calc(100% - 12px) 100%, 0px 100%, 0px 12px);
  }

  .register__registerButton a {
      text-decoration: none;
      color: rgb(0, 89, 178);
  }
  .login__signInWithGoogle {
    width: 100%;
    height: 40px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #fff;
    font-size: 20px;
    color: #222;
    clip-path: polygon(12px 0px, 100% 0px, 100% 72%, calc(100% - 12px) 100%, 0px 100%, 0px 12px);
    background: linear-gradient(90deg, rgb(255, 215, 77) 0%, rgb(64, 221, 255) 30%, rgb(124, 127, 255) 85%) 0% 0% / 200% 100%;
    cursor: pointer;
  }

  button p {
    position: relative;
    left: 0;
    display: inline-block;
    font-size: 20px;
    margin-left: 10px;
    top: -3px;
    color: #222;
  }

  .login__signinlogo {
    color: #222;
    background: transparent;
  }

  @media(max-width: 768px) {
    .register__container {
        margin-top: 15%;
        border: none;
    }
    .register__container > h1 {
        align-items: center;
    }
  }