.product
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background: rgba(0,89,178);
    z-index: 1;
    border-radius: 5px;
}
.product_rating
{
    display: flex;
}
.product > img
{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
    border-radius: 5px;
}
.product > .product_buttons > button
{
    background: rgba(0,89,178);
    border: 1px solid #fff;
    margin-top: 10px;
    color: #fff;
    margin: 10px;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.product_price
{
    margin-top: 5px;
}
.product_info
{
    height: 100px;
    margin-bottom: 15px;
}

.product_info > .product_title {
    font-size: 30px;
    font-weight: 400;
}

.product_info > .product_rating {
    margin-top: 10px;
    font-size: 20px;
    letter-spacing: 3px;
}

.product_popup {
    background-color: #fff;
}
@media (max-width:768px) {
    .header {
        overflow-x: hidden;
    }
    
}