.product
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    border: 4px solid rgb(64, 221, 255);
    background: linear-gradient(rgb(124, 127, 255) 0%, rgb(64, 221, 255) 100%);
    transition: all 0.4s cubic-bezier(0.8, -1, 0.2, 1.5) 0s;
    z-index: 1;
    border-radius: 10px;
}

.product::after {
    background-image: url(./sparkle.gif);
    background-size: cover;
    background-position: center center;
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    mix-blend-mode: color-dodge;
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
    top: 0px;
    width: 100%;
}

.product_rating
{
    display: flex;
}
.product > img
{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: transparent;
}
.product > .product_buttons {
    display: flex;
    flex-direction: row;
    background-color: transparent;
}
.product > .product_buttons > button
{
    clip-path: polygon(12px 0px, 100% 0px, 100% 72%, calc(100% - 12px) 100%, 0px 100%, 0px 12px);
    background: #222;
    border: none;
    outline: none;
    margin-top: 10px;
    color: #fff;
    margin: 10px;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'JetBrains Mono', monospace;
    text-transform: uppercase;
    cursor: pointer;
}

.product > .product_buttons > button:hover {
    transform: rotate(2deg);
}
.product_price strong, .product_price small
{
    margin-top: 5px;
    background-color: transparent;
}
.product_info
{
    height: 100px;
    margin-bottom: 15px;
    background-color: transparent;
}

.product_info > .product_title {
    font-size: 25px;
    font-weight: 600;
    background-color: transparent;
}

.product_info > .product_rating {
    margin-top: 10px;
    font-size: 20px;
    letter-spacing: 3px;
    background-color: transparent;
}

.product_popup {
    background-color: #fff;
    
}
@media (max-width:768px) {
    .header {
        overflow-x: hidden;
    }
    
}